$primary-color: #6b717f;
$secondary-color: #8C8C8C;
$tertiary-color: #fff;
$quaternary-color: #000;

$success: green;
$error: red;
$warning: orange;
$headings: #BF4080;

$list_color1: $success, $error, $warning;

$default_padding: 1em;
